.tools-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Stack items vertically */
    /* Align items to the left */
    /* background-color: #111111; */
    background-color: rgba(40, 40, 40, 1);
    padding: 10px;
    z-index: 9999;
    height: 100%;
    width: 62px;
    border-right: 1px solid #333333;
    position: relative;
}

.tools-bar img:hover {
   cursor: pointer;
}

.btns{
    display: flex;
    gap: 10px;
}

.btns button{
    background-color: #262626;
    color: white;
    border: 1px solid #333333;
}

.explorer{
    display: flex;
    gap: 10px;
    color: white;
    justify-content: space-between;
    width: 95%;
    padding-left: 10px;
    margin-block: 20px;
}

.tool {
    margin-bottom: 10px;
    /* Adjust spacing between icons and labels */
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
    /* Icon and label color */
}

.tool i {
    margin-right: 5px;
    /* Adjust spacing between icon and label */
}

.label {
    font-size: 14px;
    /* Adjust label font size */
}