.tools-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Stack items vertically */
    /* Align items to the left */
    /* background-color: #111111; */
    background-color: rgba(40, 40, 40, 1);
    padding: 10px;
    z-index: 9999;
    height: 100%;
    width: 62px;
    border-right: 1px solid #333333;
    position: relative;
}

.tools-bar img:hover {
   cursor: pointer;
}

.btns{
    display: flex;
    gap: 10px;
}

.btns button{
    background-color: #262626;
    color: white;
    border: 1px solid #333333;
}

.explorer{
    display: flex;
    gap: 10px;
    color: white;
    justify-content: space-between;
    width: 95%;
    padding-left: 10px;
    margin-block: 20px;
}

.tool {
    margin-bottom: 10px;
    /* Adjust spacing between icons and labels */
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    margin-left: 20px;
    /* Icon and label color */
}

.tool i {
    margin-right: 5px;
    /* Adjust spacing between icon and label */
}

.label {
    font-size: 14px;
    /* Adjust label font size */
}

/* ToolsBar.css */

#search-dialog {
    width: 500px;
    /* height: 200px; */
    padding: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: center; */
    transform: translate(100%, 50%);
    /* backdrop-filter: brightness(0.5); */
}

#search-dialog button {
    padding: 8px 16px;
    background-color:  rgba(0, 194, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 71px;
}

#search-dialog button:hover {
    filter: brightness(0.9);
}

#search-dialog input {
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    font-size: 2.5em;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.searchinput{
    border: none !important;
    outline: none;
}

.searchinput:focus{
    box-shadow: 0px 0px 10px rgba(0, 255, 213, 1);
    outline: 1px solid rgba(0, 255, 213, 1) !important;
}
